[flake8]
select =
    # flake8-bandit
    S
    # flake-brokenline
    N
    # flake8-bugbear
    B
    # flake8-comprehensions
    C4
    # flake8-debugger
    T
    # flake8-docstrings
    D
    # flake8-eradicate
    E80
    # flake8-string-format
    P
    # mccabe
    C90
    # pep8-naming
    N
    # pycodestyle
    E
    W
    # pyflakes
    F
    # wemake-python-styleguide
    WPS
    # darglint
    DAR

ignore =
    # pycodestyle
    # Allow for line breaks where Black decides are valid
    W503
    # Let Black put whitespace before :
    E203
    # Allow for long lines since we delegate to Black for enforcement
    E501
    # Allow custom exceptions whose name ends with "Exception"
    N818
    # Don't warn on use of asserts
    S101
    # wemake-python-styleguide
    # Allow blacklisted variable names that can be clear enough in method context
    WPS110
    # Allow upper-case constants in Enum subclasses
    WPS115
    # Allow many module members
    WPS202
    # Allow "too many"
    WPS211
    # Ignore 'too many return statements' - noqa parse inconsistent between py38 vs prior
    WPS212
    # Allow f-strings
    WPS305
    # FIXME Allow '%' string formatting, for logging strings
    # https://github.com/wemake-services/wemake-python-styleguide/issues/1304
    WPS323
    # Ignore 'too many public instance attributes'
    # https://github.com/wemake-services/wemake-python-styleguide/issues/2448
    WPS230
    # Ignore too many `assert` statements
    WPS218
    # Various WPS refactor heavy warnings to ignore that currently have a poor risk/reward tradeoff.
    WPS111
    WPS407
    # too many methods in class
    WPS214
    # too many local variables
    WPS210
exclude =
    .venv
    venv
    *.md
inline_quotes = double
max_line_length = 79
show_source = true
extended_default_ignore = []
max_imports = 20
docstring_style = numpy

per-file-ignores =
    tests/*:
        # Don't require docstrings in tests
        DAR101
        DAR201
        DAR301
        D100
        D101
        D102
        D103
        D104
        D105
        D107
        # String literal overuse
        WPS226
